<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    description="Search for students by Last Name in PowerTeacher"
    name="PT Student Search"
    version="1.0.0"
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <access_request>
        <field table="students" field="student_number" access="ViewOnly"/>
        <field table="students" field="lastfirst" access="ViewOnly"/>
        <field table="students" field="grade_level" access="ViewOnly"/>
        <field table="students" field="home_phone" access="ViewOnly"/>
        <field table="students" field="dcid" access="ViewOnly"/>
    </access_request>

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
